#viewer-mode {
    position: fixed;
    inset: 0;
    z-index: 999999;
    display: none;
    align-items: center;
    justify-content: center;
}

#viewer-mode .vm-backdrop {
    position: absolute;
    inset: 0;
    background: rgba(20, 20, 30, .55);
    backdrop-filter: blur(2px);
}

#viewer-mode .vm-dialog {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px 0 #35506933;
    padding: 17px 16px 16px 16px;
    max-width: 450px;
    width: calc(100vw - 40px);
    color: #242B2E;
    box-sizing: border-box;
    font-size: 13px;
}

#vm-title {
    margin-bottom: 16px;
    line-height: 20px;
    text-align: center;
    font-family: system-ui, sans-serif;
}

#viewer-mode .vm-dialog-icon {
    align-self: center;
    margin-bottom: 16px;
}

#viewer-mode .vm-dialog-description, .vm-dialog-footnote {
    line-height: 18px;
    margin-bottom: 8px;
    font-family: system-ui, sans-serif;
}

#viewer-mode .vm-dialog-footnote {
    color: #2FA0AF;
    font-family: system-ui, sans-serif;
}

#viewer-mode .vm-dialog-description strong {
    font-family: system-ui, sans-serif;
}

#viewer-mode .vm-dialog button {
    display: block;
    height: 30px;
    width: 60px;
    margin-top: 16px;
    border-radius: 6px;
    border: none;
    color: rgba(53, 80, 105, 0.8);
    background: rgba(53, 80, 105, 0.1);
    align-self: flex-end;
    font-size: 12px;
    line-height: 16px;
    font-family: system-ui, sans-serif;
    cursor: pointer;
}

#viewer-mode .vm-dialog button:hover {
    background: rgba(53, 80, 105, 0.2);
}

#viewer-mode .vm-dialog button:active {
    background: rgba(53, 80, 105, 0.2);
}

#vm-close-btn {
    position: absolute;
    right: 16px;
    top: 16px;
    cursor: pointer;
}

#vm-close-btn:hover rect {
    fill-opacity: 0.25;
}
